:root {
  --blue: #06113c;
  --orange: #ff8c32;
  --grey: #dddddd;
  --white: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  color: var(--blue);
  text-align: center;
  width: 100vw;
  font-size: 1.5rem;
}
h1,
h2 {
  font-family: "Raleway", sans-serif;
}

ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
a {
  text-decoration: none;
}
li a {
  text-decoration: none;
  color: var(--white);
}
li {
  list-style: none;
  padding: 10px;
  font-size: 2rem;
  margin: 0 auto;
}
ul {
  margin: 0 auto;
}
p {
  font-size: 2rem;
}
#contact p {
  margin-top: 50px;
}
nav {
  padding: 20px;
  background-color: var(--blue);
  position: fixed;
  width: 100vw;
  top: 0;
}
#welcome-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--orange);
}
h1 {
  font-size: 4.5rem;
}
h2 {
  font-size: 3rem;
  margin-top: 30px;
}
#projects {
  background-color: var(--blue);
  color: var(--orange);
  padding: 30px 10px;
}
.project-tile {
  display: flex;
  flex-direction: column;
  width: calc(100vw / 3.5);
  background-color: var(--orange);
  margin-top: 30px;
  margin-right: 10px;
  border: 1px solid var(--white);
  flex-shrink: 0;
  min-width: 200px;
}
.project-tile a {
  color: var(--blue);
  font-weight: 600;
  margin: auto;
  padding: 5px;
}
.project-tile img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: center;
  flex-shrink: 0;
}
#contact {
  background-color: var(--orange);
  height: 100vh;
  color: var(--blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a.icon {
  color: var(--blue);
}
a.icon:visited {
  color: var(--blue);
}
i {
  font-size: 6rem;
  margin: 0 20px;
}
.contact__wrapper {
  margin-top: 50px;
}
