:root {
  --blue: #06113c;
  --orange: #ff8c32;
  --grey: #dddddd;
  --white: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  color: var(--blue);
  text-align: center;
  width: 100vw;
}
h1,
h2 {
  font-family: "Raleway", sans-serif;
}

ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
a {
  text-decoration: none;
  color: var(--white);
}
li {
  list-style: none;
  padding: 10px;
}
nav {
  padding: 20px;
  background-color: var(--blue);
  position: sticky;
}
#welcome-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--orange);
}
h1 {
  font-size: 4.5rem;
}
h2 {
  font-size: 3rem;
}
#projects {
  background-color: var(--blue);
  color: var(--orange);
  padding: 10px;
}
.project-tile {
  display: flex;
  flex-direction: column;
  width: calc(100vw / 4);
  background-color: var(--orange);
  margin-top: 30px;
  margin-right: 10px;
  border: 1px solid var(--white);
}
.project-tile a {
  color: var(--blue);
  font-weight: 600;
  padding: 10px;
}
.project-tile img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  margin: 0 auto;
  flex-shrink: 0;
}
#contact {
  background-color: var(--orange);
  height: 100vh;
  color: var(--blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
